@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
/* @font-face {
  font-display: swap;
  font-family: "EastSea";
  src: url("./assets/font/EastSeaDokdo-Regular.ttf");
} */


body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

.parallax {
  background-color:red;
  overflow: hidden;
  letter-spacing: -2px;
  line-height: 0.8;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

/* .swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 20rem;
  height: 20rem;
}

.swiper-slide-img {
  display: block;
  width: 100%;
  height:100%;
} */

 .image {
  background-image:url('../app/assets/pexels-max-ravier-3331094.webp');
  background-size:cover;
  background-position: 0px -15rem;
  background-repeat: no-repeat;
  
  @media (max-width:1000px) {
    background-image:url('../app/assets/pexels-max-ravier-3331094.webp');
    background-size:cover;
    background-position:0px -5rem;
  };
  @media (max-width:700px) {
    background-image:url('../app/assets/pexels-max-ravier-3331094.webp');
    background-size: cover ;
    background-position: center -1.5rem;
    background-repeat: no-repeat
  }
}
 

/* .imgDesc {
   background-image:url('../app/assets/pexels-max-ravier-3331094.webp');
  background-size:cover;
  background-position: 0px -65rem;
  background-repeat: no-repeat;
} */
/* .Gallery {
   background-image:url('../app/assets/pexels-max-ravier-3331094.webp');
  background-size:cover;
  background-position: 0px -70rem;
  background-repeat: no-repeat;
} */
.swiper {
  width: 100%;
  height: 100%;
  /* background: #000; */
}

/* .swiper-slide {
  font-size: 18px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 60px;
} */


