@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
/* @font-face {
  font-display: swap;
  font-family: "EastSea";
  src: url("./assets/font/EastSeaDokdo-Regular.ttf");
} */


body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

.parallax {
  background-color:red;
  overflow: hidden;
  letter-spacing: -2px;
  line-height: 0.8;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax .scroller {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 64px;
  display: flex;
  white-space: nowrap;
  /* display: flex;
  flex-wrap: nowrap; */
}

.parallax span {
  background-color:green;
  display: flex;
  margin-right: 30px;
}
.image {
  background-image:url('../app/assets/pexels-max-ravier-3331094.jpg');
  background-size:cover;
  background-position: 0px -15rem;
  background-repeat: no-repeat;
  
  @media (max-width:1000px) {
    background-image:url('../app/assets/pexels-max-ravier-3331094.jpg');
    background-size:cover;
    background-position:0px -5rem;
  };
  @media (max-width:700px) {
    background-image:url('../app/assets/pexels-max-ravier-3331094.jpg');
    background-size: cover ;
    background-position: center 3rem;
    background-repeat: no-repeat
  }
}
.svg{
  position: absolute;
  top:-12rem;
  left: 0;
  width:100%;
  @media (max-width:1000px) {
    top: -3rem;
  }
  @media (max-width:700px) {
    top: 8rem;
  }

}
.imgDesc {
   background-image:url('../app/assets/pexels-max-ravier-3331094.jpg');
  background-size:cover;
  background-position: 0px -65rem;
  background-repeat: no-repeat;
}
.Gallery {
   background-image:url('../app/assets/pexels-max-ravier-3331094.jpg');
  background-size:cover;
  background-position: 0px -70rem;
  background-repeat: no-repeat;
}

.foam{
  background-image:url('../app/assets/waveFoam1.png');
  background-size:cover;
  background-position: 0px -12rem;
  background-repeat: no-repeat;
}