@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
/* @font-face {
  font-display: swap;
  font-family: "EastSea";
  src: url("./assets/font/EastSeaDokdo-Regular.ttf");
} */


body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

/* html {
  overflow:   scroll;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
} */

.parallax {
  background-color:red;
  overflow: hidden;
  letter-spacing: -2px;
  line-height: 0.8;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

/* .swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 20rem;
  height: 20rem;
}

.swiper-slide-img {
  display: block;
  width: 100%;
  height:100%;
} */

 .image {
  background-image:url('../app/assets/pexels-max-ravier-3331094.webp');
  background-size:cover;
  background-position: 0px -30rem;
  background-repeat: no-repeat;

  
  @media (min-width:705px) {
    /* background-image:url('../app/assets/pexels-max-ravier-3331094.webp'); */
    background-size:cover;
    background-position:0px center 
  };
  @media (max-width:700px) {
    background-image:url('../app/assets/pexels-max-ravier-3331094.webp');
    background-size: cover ;
    background-position: center;
    background-repeat: no-repeat
  }
}
.trapeze {
	border-bottom: 60px solid rgb(2 132 199) ;
	border-right: 115px solid white ;
}
.roundedCustomL {
  border-radius:70% 30% 43% 57% / 69% 16% 84% 31%;
}
.roundedCustomR {
  border-radius:25% 75% 56% 44% / 19% 70% 30% 81% ;
}

.swiper {
  width: 100%;
  height: 100%;
  /* background: #000; */
}

.shad {
  text-shadow: 
  -0.5px -0.5px 1px  #fcba03,
  0px 2px 1px rgb(251 191 36) , 
  1px 3px 1px #fcba03, 
  2px 5px 1px #fcba03, 
  3px 7px 1px #fcba03,
  4px 9px 1px #fcba03,
  5px 11px 1px #fcba03,
  6px 13px 1px #fcba03,
  7px 15px 1px #fcba03, 
  8px 17px 1px #fcba03,
  9px 19px 1px #fcba03,
  10px 21px 1px #fcba03,
  11px 23px 1px #fcba03,
  12px 25px 1px #fcba03, 
  13px 27px 1px #fcba03,
  14px 29px 1px #fcba03,
  15px 31px 1px #fcba03,
  16px 33px 1px #fcba03,
  17px 35px 1px #fcba03, 
  18px 37px 1px #fcba03,
  19px 39px 1px #fcba03,
  20px 41px 1px #fcba03,
  21px 43px 1px #fcba03,
  22px 45px 1px #fcba03, 
  23px 47px 1px #fcba03,
  24px 49px 1px #fcba03,
  25px 51px 1px #fcba03,
  26px 53px 1px #fcba03,
  27px 55px 1px #fcba03,
  28px 57px 1px #fcba03, 
  29px 59px 1px #fcba03,
  30px 61px 1px #fcba03,
  31px 63px 1px #fcba03,
  32px 65px 1px #fcba03,
  33px 67px 1px #fcba03, 
  34px 69px 1px #fcba03,
  35px 71px 1px #fcba03,
  36px 73px 1px #fcba03,
  37px 75px 1px #fcba03,
  38px 77px 1px #fcba03, 
  39px 79px 1px #fcba03,
  40px 81px 1px #fcba03,
  41px 83px 1px #fcba03,
  42px 85px 1px #fcba03,
  43px 87px 1px #fcba03,
  44px 89px 1px #fcba03,
  45px 91px 1px #fcba03, 
  46px 93px 1px #fcba03,
  47px 95px 1px #fcba03,
  48px 97px 1px #fcba03,
  49px 99px 1px #fcba03,
  50px 101px 1px #fcba03,
  51px 103px 1px #fcba03, 
  52px 105px 1px #fcba03,
  53px 107px 1px #fcba03,
  54px 109px 1px #fcba03,
  55px 111px 1px #fcba03,
  56px 113px 1px #fcba03, 
  57px 115px 1px #fcba03,
  58px 117px 1px #fcba03,
  59px 119px 1px #fcba03,
  60px 121px 1px #fcba03,
  61px 123px 1px #fcba03, 
  62px 125px 1px #fcba03,
  63px 127px 1px #fcba03,
  64px 129px 1px #fcba03,
  65px 131px 1px #fcba03;
}
.shadW {
  text-shadow: 
  -1px -1px 1px white,
  0px 2px 1px #ffffff , 
  1px 3px 1px #ffffff, 
  2px 5px 1px #ffffff, 
  3px 7px 1px #ffffff,
  4px 9px 1px #ffffff,
  5px 11px 1px #ffffff,
  6px 13px 1px #ffffff,
  7px 15px 1px #ffffff, 
  8px 17px 1px #ffffff,
  9px 19px 1px #ffffff,
  10px 21px 1px #ffffff,
  11px 23px 1px #ffffff,
  12px 25px 1px #ffffff, 
  13px 27px 1px #ffffff,
  14px 29px 1px #ffffff,
  15px 31px 1px #ffffff,
  16px 33px 1px #ffffff,
  17px 35px 1px #ffffff, 
  18px 37px 1px #ffffff,
  19px 39px 1px #ffffff,
  20px 41px 1px #ffffff,
  21px 43px 1px #ffffff,
  22px 45px 1px #ffffff, 
  23px 47px 1px #ffffff,
  24px 49px 1px #ffffff,
  25px 51px 1px #ffffff,
  26px 53px 1px #ffffff,
  26px 53px 1px #ffffff,
  27px 55px 1px #ffffff,
  28px 57px 1px #ffffff,
  29px 59px 1px #ffffff,
  30px 61px 1px #ffffff,
  31px 63px 1px #ffffff,
  32px 65px 1px #ffffff,
  33px 67px 1px #ffffff,
  34px 69px 1px #ffffff,
  35px 71px 1px #ffffff,
  36px 73px 1px #ffffff,
  37px 75px 1px #ffffff,
  38px 77px 1px #ffffff,
  39px 79px 1px #ffffff,
  40px 81px 1px #ffffff,
  41px 83px 1px #ffffff,
  42px 85px 1px #ffffff,
  43px 87px 1px #ffffff,
  44px 89px 1px #ffffff,
  45px 91px 1px #ffffff,
  46px 93px 1px #ffffff,
  47px 95px 1px #ffffff,
  48px 97px 1px #ffffff,
  49px 99px 1px #ffffff,
  50px 101px 1px #ffffff,
  51px 103px 1px #ffffff,
  52px 105px 1px #ffffff,
  53px 107px 1px #ffffff,
  54px 109px 1px #ffffff,
  55px 111px 1px #ffffff,
  56px 113px 1px #ffffff,
  57px 115px 1px #ffffff,
  58px 117px 1px #ffffff,
  59px 119px 1px #ffffff,
  60px 121px 1px #ffffff,
  61px 123px 1px #ffffff,
  62px 125px 1px #ffffff,
  63px 127px 1px #ffffff,
  64px 129px 1px #ffffff,
  65px 131px 1px #ffffff;
}



